.input {
  display: flex;
  width: 95%;
  position: relative;
  align-items: center;
}

.input__box {
  width: 100%;
  border-radius: 50px;
  padding: 20px 30px;
  font-size: 22px;
  border: none;
  transition: 0.2s;
  box-shadow: inset 0 0 5px black;
}
.input__box:focus {
  box-shadow: 0 0 10px 1000px rgba(0, 0, 0, 0.5);
  outline: none;
}

.input_submit {
  position: absolute;
  width: 50px;
  height: 50px;
  margin: 12px;
  border-radius: 50px;
  right: 0px;
  border: none;
  font-size: 17px;
  background-color: #000000;
  color: white;
  transition: 0.2s all;
  box-shadow: 0 0 10px black;
}

.input_submit:hover {
  background-color: #414040;
}

.input_submit:active {
  transform: scale(0.8);
  box-shadow: 0 0 5px black;
}
.container {
  display: flex;
  width: 95%;
  margin-top: 10px;
  justify-content: space-between;
  align-items: flex-start;
}
.todos {
  display: flex;
  width: 47.5%;
  flex-direction: column;
  padding: 14px;
  border-radius: 5px;
  background-color: #4d1515;
}
.todos__headings {
  color: azure;
  font-size: 27px;
}
.todos__single {
  display: flex;
  border-radius: 10px;
  padding: 17px;
  margin-top: 11px;
  transition: 0.2s;
  background-color: #000000;
  color: white;
  transition: 0.2s;
}
.todos__single:hover {
  box-shadow: 0 0 10px rgb(255, 255, 255);
  transform: scale(1.03);
}

.todos__single--text {
  flex: 1;
  padding: 3px;
  border: none;
  font-size: 18px;
}
.todos__single--text:focus {
  outline: none;
}

.icon {
  margin-left: 10px;
  font-size: 18px;
  cursor: pointer;
}

@media (max-width: 1100px) {
  .todos {
    width: 45%;
  }
}

@media (max-width: 700px) {
  .input {
    width: 95%;
  }
  .todos {
    width: 95%;
    flex-direction: column;
  }
  .todos {
    width: 95%;
    margin-bottom: 10px;
  }
  .container {
    width: 95%;
    flex-direction: column;
  }
}
.remove {
  background-color: #3d6035;
}
